body {
  margin: 0;
  padding: 0;
}

.headerSection {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #dddd;
}
.headerSection > span {
  display: inline-block;
  width: 1198px;
  height: 80px;
  background-image: url(https://rooms.s3-us-west-1.amazonaws.com/images/header.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -15px -1px;
}

.photoGallery {
  width: 1126px;
  height: 585px;
  margin: 0 auto;
  background-image: url(https://rooms.s3-us-west-1.amazonaws.com/images/photoGallery.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.reservation {
  width: 1126px;
  margin: 0 auto;
  overflow: hidden;
}

.additional {
  float: left;
  height: 1519px;
  /* height: 2075px; */
}

.additional > div {
  width: 750px;
  background-repeat: no-repeat;
  background-size: cover;
}

.additional> div:nth-child(1) {
  height: 810px;
  background-image: url(https://rooms.s3-us-west-1.amazonaws.com/images/additional1.png);
}

.additional> div:nth-child(2) {
  height: 709px;
  background-image: url(https://rooms.s3-us-west-1.amazonaws.com/images/additional2.png);
}

/* .additional> div:nth-child(3) {
  height: 556px;
  background-image: url(https://rooms.s3-us-west-1.amazonaws.com/images/additional3.png);
} */

#checkout {
  float: right;
  width: 363px;
  margin-top: 40px;
  margin-right: 10px;
}

#checkout > div {
  width: 100%;
  height: unset;
  margin: 0;
  box-sizing: border-box;
}

#checkout > div > button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#checkout > div > div:nth-child(2) {
  margin: 15px auto;
  width: 100%;
}

#checkout > div> div:nth-child(2) > div > div > div {
  float : unset;
}

#checkout > div> div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
  width: 44%;
}

#checkout > div> div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) {
  width: 46%;
}

#checkout > div> div:nth-child(2) > div:nth-child(3) {
  width: 100%;
}

#checkout > div> div:nth-child(2) > div:nth-child(3) > div > div:nth-child(1){
  width: 98%;
}

#checkout > div> div:nth-child(2) > div:nth-child(3) > div > div:nth-child(2) > div {
  width: 92%;
}

#reviews > div > div {
  border-top: 1px solid #dddddd;
}