body {
  margin: 0;
  padding: 0;
}
/********************/
/* header ***********/
.headerSection {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #dddd;
}
.headerSection > span {
  display: inline-block;
  width: 1198px;
  height: 80px;
  background-image: url(https://rooms.s3-us-west-1.amazonaws.com/images/webP/header.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -15px -1px;
}

/********************/
/* photo gallery ****/
.photoGallery {
  width: 1126px;
  height: 585px;
  margin: 0 auto;
  background-image: url(https://rooms.s3-us-west-1.amazonaws.com/images/webP/photoGallery.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

/********************/
/* reservation :
*  additional info(image) + checkout module
*/
.reservation {
  width: 1126px;
  margin: 0 auto;
  overflow: hidden;
}

/* additional info(image) *****/
.additional {
  float: left;
  height: 1519px;
}
.additional > div {
  width: 750px;
  background-repeat: no-repeat;
  background-size: cover;
}
.additional> div:nth-child(1) {
  height: 810px;
  background-image: url(https://rooms.s3-us-west-1.amazonaws.com/images/webP/additional1.webp);
}
.additional> div:nth-child(2) {
  height: 709px;
  background-image: url(https://rooms.s3-us-west-1.amazonaws.com/images/webP/additional2.webp);
}


/* checkout module *****/
#checkout {
  float: right;
  width: 363px;
  margin-top: 40px;
  margin-right: 10px;
}

#checkout > div {
  width: 100%;
  height: unset;
  margin: 0;
  padding: 24px;
  box-sizing: border-box;
}

/* Checkout button */
#checkout > div > button {
  position: relative;
  right: 4px;
  width: 100%;
  height: 48px;
  font-size: 16px;
}
#checkout > div > button:hover {
  background-image: radial-gradient(circle at center center, rgb(255, 56, 92) 0%, rgb(230, 30, 77) 27.5%, rgb(227, 28, 95) 40%, rgb(215, 4, 102) 57.5%, rgb(189, 30, 89) 75%, rgb(189, 30, 89) 100%) !important;
  transition: opacity 1.25s ease 0s !important;
}

/* Heeader of checkout module */
#checkout > div > div:nth-child(1) > div:nth-child(1) > span:nth-child(1) {
  font-size: 22px;
}
#checkout > div > div:nth-child(1) > div:nth-child(1) > span:nth-child(3) {
  font-size: 16px;
}
#checkout > div > div:nth-child(1) > div:nth-child(2) {
  position: relative;
  top: 7px;
}
#checkout > div > div:nth-child(1) > div:nth-child(2) > span {
  font-size: 14px;
}
#checkout > div > div:nth-child(1) > div:nth-child(2) > span:nth-child(1) > img {
  width: 11px;
}

/* content box of checkout module : check-in, check-out, guests */
#checkout > div > div:nth-child(2) {
  margin: 15px auto;
  width: 100%;
  height: 104px;
}
#checkout > div> div:nth-child(2) > div > div > div {
  float : unset;
}

/* check-in part */
#checkout > div> div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
  width: 44%;
}
#checkout > div> div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
  font-size: 11px;
}
#checkout > div> div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) {
  font-size: 14px;
}

/* check-out part */
#checkout > div> div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) {
  width: 45%;
}
#checkout > div> div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
  font-size: 11px;
}
#checkout > div> div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) {
  font-size: 14px;
}

/* guests part */
#checkout > div> div:nth-child(2) > div:nth-child(3) {
  width: 100%;
}
#checkout > div> div:nth-child(2) > div:nth-child(3) > div > div:nth-child(1){
  width: 98%;
}
#checkout > div> div:nth-child(2) > div:nth-child(3) > div > div:nth-child(1) > span:nth-child(1) > div{
  font-size: 14px;
}
#checkout > div> div:nth-child(2) > div:nth-child(3) > div > div:nth-child(1) > span:nth-child(2) > img {
  position: relative;
  top: 10px;
}

/* checkout modal */
#checkout > div> div:nth-child(2) > div:nth-child(3) > div > div:nth-child(2) > div {
  top: 182px;
  right: 22px;
  width: 84%;

}

/********************/
/* reviews module ****/
#reviews > div > div {
  border-top: 1px solid #dddddd;
}